<h1>Railsからこんにちは</h1>
<p>
  Time now : <%=Time.now%>
</p>
<p>
  Time current : <%=Time.current%>
</p>
<p>
  @time : <%=@time%>
</p>
<p>
  <%=link_to "さようなら", say_goodbye_path%> と表示
</p>
<p>
  glob :
  <ul>
    <%for file in @files%>
      <li><%=file%></li>
    <%end%>
  </ul>
</p>
